<h1>All Developer Profiles</h1>
<p>On this page it will be possible for Admins and Employers (assuming they have paid), to view all of the developer profiles. Developers will have to say if they want to be visible or not.</p>