<div class="row">
	<div class="col-md-10 col-md-offset-2"> 
		<h1>edit application</h1>
		<p>User ID: <%= current_user.id %></p>
		<%= render 'shared/errors', obj: @application %>
	</div>
</div>

<%= render 'form' %>



