
<div id="list-example" class="list-group">
  <%= link_to "Dashboard", admin_path, class: "list-group-item list-group-item-action" %>
  <%= link_to 'Code Languages', code_languages_path, class: "list-group-item list-group-item-action" %>
</div>

