<ul>
	<li><a href="#">Admin</a>
		<ul>
			<li><a href="#">Dashboard</a></li>
			<li><a href="#">User Stats</a></li>
			<li><a href="#"></a></li>
			<li><a href="#"></a></li>
		</ul>
	</li>

	<li><a href="#">Marketing</a>
		<ul>
			<li><a href="#">Pages</a></li>
			<li><a href="#">Posts</a></li>
			<li><a href="#">Social Media Profiles</a></li>
			<li><a href="#"></a></li>
		</ul>
	</li>
	<li><a href="#">Text</a></li>
	<li><a href="#">Text</a></li>
	<li><a href="#">Text</a></li>
</ul>