<ul>
	<li><a href="#">Jobs Area</a>
		<ul>
			<li><a href="#">My Applications</a></li>
			<li><a href="#"></a></li>
		</ul>
	</li>
	<li><a href="#">Text</a></li>
	<li><a href="#">Text</a></li>
	<li><a href="#">Text</a></li>
</ul>